# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependencies
node_modules/
*.tsbuildinfo
vite.config.js
vite.config.d.ts
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
.eggs/
build/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Pytorch & Data
*.pt
*.pth
*.tar
*.ckpt
dataset/
data/
downloads/
download/
outputs/
output/
*.model
*.weights
models/

# IDE & OS
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Docker & Container
.dockerignore
*.env
docker-compose.override.yml
docker-compose.prod.yml

# FastAPI & Streamlit
.cache/
.streamlit/credentials.toml
.streamlit/config.toml
*.log
*.sqlite
*.db
local_db/
uploads/


# Hardware & Build Artifacts (AMD ROCm / CUDA)
.cache/rocprofiler/
.cache/miopen/
.cache/torch/
.pytest_cache/
*.isa
*.hsaco
*.bin

# sha
SHA256SUMS
